.main_header {
    padding-bottom: 24px;
    padding-top: 24px;
    background: #dc7000;

    &__top {

        display: none;

    }

    &__lokot {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 10px;
        color: #1a1a1a;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__tel {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 10px;
        color: #1a1a1a;
    }


    &__blok {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__list {
        display: none;

    }

    &__item {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: #fff;

        &:hover{
            transform: scale(1.06);
            transition: 0.4s;
           
        }
    }

    &__btn {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 13px;
        color: #dc7000;
        border-radius: 6px;
        background: #fff;
        padding: 11px 28px;

        &:hover{
            transform: scale(1.06);
            transition: 0.4s;
           
        }
    }

    @media screen and (min-width:768px) {
        &__list {
            display: inline-block;
        }

        &__top {
            background-color: white;
            margin-bottom: 24px;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 100px;
            padding-right: 150px;  
        }
        
        &{
            padding-top: 0;
        }
        &__menu {
            display: none;
        }

        &__list {
            display: flex;
            align-items: center;
            gap: 64px;

        }
    }
}